@page {
    size: 210mm 297mm;
    margin: 0;
}

* {
    font-family: Inter, serif;
}

p {
    margin: 0;
}


.root h2 {
    display: none;
}

/*
 gray background behind title
*/
div.root > div > .header {
    margin-top: 12px;
    background-color: #C4C4C4;
    /*position: absolute;*/
    left: 0;
    right: 0;
    top: 0;
}

/*
  allows title to take full width
*/
body {
    margin: 0;
}

div.work {
    margin: 8px;
}

/*
 images elements have size same as the content
*/
span.image {
    display: contents;
}

/*
 left title column
*/

div.header > div.content {
    display: flex;
    justify-content: space-evenly;
    margin: 6px;
}

.header .intro {
    float: left;
    flex: 7;
    text-align: center;
    padding: 0;
    margin: 8px;
}

/*
 right title column
*/
.header .contact {
    float: left;
    flex: 3;
    text-align: center;
}

.header .intro .name {
    font-size: 32px;
    font-weight: 700;
}

.header .intro .role {
    font-size: 28px;
    font-weight: 450;
}

div .header .intro .content {
    overflow: hidden;
    margin-left: 12px;
    margin-right: 12px;
}

div .header .intro .role {
    display: inline-block;
}

div .header .intro .role p {
    position: relative;
}

/*
  line on the left of the role
*/
div .header .intro .role p::before {
    content: "";
    width: 1000px;
    left: 0;
    top: 50%;
    transform: translateX(-101%);
    position: absolute;
    border-bottom: 1px solid black;
}

/*
  line on the right of the role
*/
div .header .intro .role p::after {
    content: "";
    width: 1000px;
    right: 0;
    top: 50%;
    transform: translateX(101%);
    position: absolute;
    border-bottom: 1px solid black;
}

div.techs p {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
}

.tech.logo img {
    vertical-align: middle;
    height: 36px;
    margin: 0 3px 0 3px;
}

div.contact > div.content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.contact {
    display: flex;
    justify-content: center;
}

div.contact div.content {
    flex-direction: column;
    justify-content: space-evenly;
}

.contact.logo img {
    vertical-align: middle;
    height: 1.25rem;
    margin-right: 0.2rem;
}

span.github img {
    background: white;
    border-radius: 1.25rem;
}

/*
  disables styling for links
*/
a:link {
    text-decoration: none;
    color: black;
}

div.root div.body > div.content {
    display: flex;
    flex-direction: row;
}

div.body div.left {
    flex: 7;
    margin: 12px 12px 12px 24px;
}

div.body div.right {
    flex: 3;
    display: flex;
    justify-content: center;
}

div.body div.right > div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left .title, .right .title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}

div.job > div.content, div.edu > div.content {
    display: flex;
    flex-direction: row;
}

.job {
    margin-top: 6px;
}

.body {
    font-size: 14px
}

.left .dates {
    flex: 3;
    border-top: 1px solid black;
    margin-right: 12px;
    margin-top: 12px;
    font-weight: 550;
}

.left .desc, .right .desc {
    flex: 7;
}

.left .desc .subtitle {
    padding-top: 3px;
}

.job .desc ul {
    list-style: outside;
    padding-left: 0;
}

dd {
    margin: 0 0 12px;
    padding: 0 0 0 6px;
}

ul {
    margin: 0 0 0 12px;
}

/*
  separator between work experience and education
*/
#comarch::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(70% - 60px);
    border-bottom: 1px solid black;
}

div.right {
    position: relative;
    border-left: 1px solid black;
    padding-left: 12px;
    margin: 12px 24px 12px 12px;

}

.greenDot {
    color: #46FF63;
}

.right .dots tr {
    line-height: 22px;
}

.right .dots td:nth-child(2) {
    font-size: 200%;
    letter-spacing: -5px;
    color: #C4C4C4
}

/*
  separators in right column
*/
#techs, #tools, #interests, #pets, #updates {
    margin-top: 12px;
    border-top: 1px solid black;
}